/* ***************** */
/* Searchbox Styles */
/* *************** */

.searchbox-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


/* ***************** */
/*   Grid Styles    */
/* *************** */

 .grid-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.thumbnail {
    margin-bottom: 20px;
}

/* ***************** */
/*  Media Queries   */
/* *************** */

@media (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        max-width: 700px;
    }
    
    .thumbnail {
        margin-bottom: 0px;
    }

    .tabCol1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .tabCol2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .tabCol3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

}

@media (min-width: 1024px) {

    .grid-container {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        max-width: 1000px;
    }

    .col1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .col2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .col3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .col4 {
        grid-column-start: 4;
        grid-column-end: 5;
    }

}