/* ***************** */
/*  Global Styles   */
/* *************** */

* {
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

/* ***************** */
/* Searchbox Styles */
/* *************** */

.searchbox-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.searchbox {
    border: solid rgb(143, 143, 143) 2px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}


/* ***************** */
/*   Grid Styles    */
/* *************** */

 .grid-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.thumbnail {
    margin-bottom: 20px;
}

/* ***************** */
/*  Media Queries   */
/* *************** */

@media (min-width: 768px) {

    .searchbox-container {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin-top: 50px;
        align-items: center;
        max-width: 600px;
    }


    .grid-container {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        max-width: 700px;
    }
    
    .thumbnail {
        margin-bottom: 30px;
    }

    .tabCol1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .tabCol2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .tabCol3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

}

@media (min-width: 1024px) {

    .searchbox-container {
        max-width: 700px;
    }

    .grid-container {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        max-width: 1000px;
    }

    .col1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .col2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .col3 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    .col4 {
        grid-column-start: 4;
        grid-column-end: 5;
    }

}